<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Raimond Lige veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="Kursuse bänner">
  <p>Sisse loginud: <%= userName %></p>
  <h1>Vinge veebisüsteem</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu!</p>
  <hr>
  <h2>Siit leiab</h2>
  <ul>
	<li><a href="/logout">Logi välja</a></li>
	<li><a href="/galleryphotoupload">Lae fotosid galeriisse</a></li>
	<li><a href="/photogallery">Vaata fotogaleriid</a></li>
  </ul>
</body>
</html>