<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Raimond Lige veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="Kursuse bänner">
  <h1>Raimond Lige veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu!</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Registreeri oma külastus</h2>
  <form action="/regvisit" method="POST">
    <label for="firstNameInput">Sinu eesnimi</label>
    <br>
    <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
    <br><br>
    
    <label for="lastNameInput">Sinu perekonnanimi</label>
    <br>
    <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Kirjuta siia oma perekonnanimi...">
    <br>
    
    <input type="submit" value="Salvesta">
  </form>
</body>
</html>